@{
	Layout = "_Layout";
	ViewData["Title"] = "Home";
}
<script>
    $(document).ready(function () {
        const h = document.documentElement.clientHeight - absoluteTop(document.getElementById("divTickerList")) - 10;
        $("#divTickerList").height(h);
        $("#divGrid").height(h);
    });
</script>

<div id="divMain" style="overflow-y: scroll; padding:0; padding-top: 0; vertical-align: top;">
    <table class="tbl-1">
    <tr>
        <td class="td-1">
            <div class="div-ticker">
                @{ await Html.RenderPartialAsync("TickerList"); }
            </div>
        </td>
        <td class="td-2">
            <div id="divGrid" style="margin:0; padding:0;">
                @{ Html.RenderPartial("OperationList"); }
            </div>
        </td>
    </tr>
    </table>
</div>