@{
    ViewData["Title"] = "Home";
}
<script>
    $(document).ready(function () {
        //console.log("Объектная модель готова к использованию!");
        let h = document.documentElement.clientHeight - absoluteTop(document.getElementById("divTickerList")) - 10;
        $("#divTickerList").height(h);
    });
</script>

<div id="divMain" style="overflow-y: scroll; padding:0; padding-top: 0; vertical-align: top;">
</div>