<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InvApp</title>

    <link rel="stylesheet" href="~/lib/fontello/css/fontello.css" />
    <link rel="stylesheet" href="~/css/fonts/fontello/css/fontello.css" />
    <link rel="stylesheet" href="~/css/fonts.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script src="~/js/settings-core.js" asp-append-version="true"></script>
    <script src="~/js/core.js" asp-append-version="true"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/cldr.js" asp-append-version="true"></script>
    <script src="~/js/cldr/event.js" asp-append-version="true"></script>
    <script src="~/js/cldr/supplemental.js" asp-append-version="true"></script>
    <script src="~/js/cldr/unresolved.js" asp-append-version="true"></script>

    <script src="~/js/globalize.js" asp-append-version="true"></script>
    <script src="~/js/globalize/message.js" asp-append-version="true"></script>
    <script src="~/js/globalize/number.js" asp-append-version="true"></script>
    <script src="~/js/globalize/currency.js" asp-append-version="true"></script>
    @*<script src="~/js/globalize/date.js" asp-append-version="true"></script>*@

    <script src="~/js/dx.all.js" asp-append-version="true"></script>

    <script src="~/js/aspnet/dx.aspnet.data.js" asp-append-version="true"></script>
    <script src="~/js/aspnet/dx.aspnet.mvc.js" asp-append-version="true"></script>

    <script src="~/js/underscore.js" asp-append-version="true"></script>

    <script src="~/lib/amcharts4/core.js"></script>
    <script src="~/lib/amcharts4/charts.js"></script>
    <script src="~/lib/amcharts4/themes/animated.js"></script>

    <script>
        $(document).ready(function () {
            init();
        });
    </script>
</head>
<body>
    <div class="navbar-top">
        <ul class="navbar-nav">
            <li><span onclick="openOperations()">Start</span></li>
            <li><span onclick="openStocks()">Stocks</span></li>
            <li><span onclick="openTickers('T')">Tickers</span></li>
            <li><span>
                <span class="span-menu1" onclick="openPortfolio(null, '')">Portfolio</span> [
                <span class="span-menu1" onclick="openPortfolio(4)">usd</span>&nbsp;
                <span class="span-menu1" onclick="openPortfolio(8)">rur</span>&nbsp;
                <span class="span-menu1" onclick="openPortfolio(1)">Iis</span>&nbsp;
                <span class="span-menu1" onclick="openPortfolio(2)">VBr</span>&nbsp;
                <span class="span-menu1" onclick="openPortfolio(16)">BlueRu</span>&nbsp;
                <span class="span-menu1" onclick="openPortfolio(32)">BlueUs</span>&nbsp;
                ]
            </span></li>
            <li></li>
            <li></li>
            <li><span class="span-menu"><span class="span-menu1" onclick="openProfit(null, '')">Profit</span> [
                <span class="span-menu1" onclick="openProfit(16)">BlueRu</span>&nbsp;
                <span class="span-menu1" onclick="openProfit(32)">BlueUs</span>&nbsp;
            ]
            </span></li>   

            <li><span onclick="openCache()">Cache</span></li>
            <li><span onclick="openDivs()">Divs</span></li>
            <li><span onclick="openBonds()">Bonds</span></li>
            <li><span onclick="openHist()">Hist</span></li>
            <li><span onclick="loadPrices()">Refresh prices</span></li>
        </ul>
    </div>
    
    <div class="body-content">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>