
.icon-user:before { content: '\e800'; } /* '' */
.icon-lock:before { content: '\e801'; } /* '' */
.icon-video:before { content: '\e802'; } /* '' */
.icon-camera:before { content: '\e803'; } /* '' */
.icon-videocam:before { content: '\e804'; } /* '' */
.icon-down-dir:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-download:before { content: '\e807'; } /* '' */
.icon-upload:before { content: '\e808'; } /* '' */
.icon-cog-alt:before { content: '\e809'; } /* '' */
.icon-book:before { content: '\e80a'; } /* '' */
.icon-calendar:before { content: '\e80b'; } /* '' */
.icon-zoom-in:before { content: '\e80c'; } /* '' */
.icon-zoom-out:before { content: '\e80d'; } /* '' */
.icon-list-alt:before { content: '\e80e'; } /* '' */
.icon-th-list:before { content: '\e80f'; } /* '' */
.icon-th:before { content: '\e810'; } /* '' */
.icon-th-large:before { content: '\e811'; } /* '' */
.icon-picture:before { content: '\e812'; } /* '' */
.icon-users:before { content: '\e813'; } /* '' */
.icon-ok:before { content: '\e814'; } /* '' */
.icon-cancel:before { content: '\e815'; } /* '' */
.icon-plus:before { content: '\e816'; } /* '' */
.icon-minus:before { content: '\e817'; } /* '' */
.icon-home:before { content: '\e818'; } /* '' */
.icon-magnet:before { content: '\e819'; } /* '' */
.icon-eye:before { content: '\e81a'; } /* '' */
.icon-eye-off:before { content: '\e81b'; } /* '' */
.icon-tags:before { content: '\e81c'; } /* '' */
.icon-cw:before { content: '\e81d'; } /* '' */
.icon-volume-off:before { content: '\e81e'; } /* '' */
.icon-volume-up:before { content: '\e81f'; } /* '' */
.icon-volume-down:before { content: '\e820'; } /* '' */
.icon-bell:before { content: '\e821'; } /* '' */
.icon-location:before { content: '\e822'; } /* '' */
.icon-ccw:before { content: '\e823'; } /* '' */
.icon-link:before { content: '\e824'; } /* '' */
.icon-pencil:before { content: '\e825'; } /* '' */
.icon-arrows-cw:before { content: '\e826'; } /* '' */
.icon-folder:before { content: '\e827'; } /* '' */
.icon-folder-open:before { content: '\e828'; } /* '' */
.icon-cog:before { content: '\e829'; } /* '' */
.icon-play:before { content: '\e82a'; } /* '' */
.icon-stop:before { content: '\e82b'; } /* '' */
.icon-pause:before { content: '\e82c'; } /* '' */
.icon-to-end:before { content: '\e82d'; } /* '' */
.icon-to-end-alt:before { content: '\e82e'; } /* '' */
.icon-to-start:before { content: '\e82f'; } /* '' */
.icon-to-start-alt:before { content: '\e830'; } /* '' */
.icon-fast-fw:before { content: '\e831'; } /* '' */
.icon-fast-bw:before { content: '\e832'; } /* '' */
.icon-eject:before { content: '\e833'; } /* '' */
.icon-flag:before { content: '\e834'; } /* '' */
.icon-up-dir:before { content: '\e835'; } /* '' */
.icon-up-open:before { content: '\e836'; } /* '' */
.icon-right-open:before { content: '\e837'; } /* '' */
.icon-left-open:before { content: '\e838'; } /* '' */
.icon-down-open:before { content: '\e839'; } /* '' */
.icon-right-dir:before { content: '\e83a'; } /* '' */
.icon-left-dir:before { content: '\e83b'; } /* '' */
.icon-resize-full:before { content: '\e83c'; } /* '' */
.icon-resize-small:before { content: '\e83d'; } /* '' */
.icon-resize-vertical:before { content: '\e83e'; } /* '' */
.icon-resize-horizontal:before { content: '\e83f'; } /* '' */
.icon-block:before { content: '\e840'; } /* '' */
.icon-doc:before { content: '\e841'; } /* '' */
.icon-tag:before { content: '\e842'; } /* '' */
.icon-star:before { content: '\e843'; } /* '' */
.icon-star-empty:before { content: '\e844'; } /* '' */
.icon-align-left:before { content: '\e845'; } /* '' */
.icon-align-center:before { content: '\e846'; } /* '' */
.icon-align-right:before { content: '\e847'; } /* '' */
.icon-align-justify:before { content: '\e848'; } /* '' */
.icon-scissors:before { content: '\e849'; } /* '' */
.icon-signal:before { content: '\e84a'; } /* '' */
.icon-chart-bar:before { content: '\e84b'; } /* '' */
.icon-floppy:before { content: '\e84c'; } /* '' */
.icon-play-circled2:before { content: '\e84d'; } /* '' */
.icon-headphones:before { content: '\e84e'; } /* '' */
.icon-clock:before { content: '\e84f'; } /* '' */
.icon-login:before { content: '\e850'; } /* '' */
.icon-logout:before { content: '\e851'; } /* '' */
.icon-wrench:before { content: '\e852'; } /* '' */
.icon-attention:before { content: '\e853'; } /* '' */
.icon-attention-circled:before { content: '\e854'; } /* '' */
.icon-list:before { content: '\e855'; } /* '' */
.icon-indent-left:before { content: '\e856'; } /* '' */
.icon-indent-right:before { content: '\e857'; } /* '' */
.icon-off:before { content: '\e858'; } /* '' */
.icon-check:before { content: '\e859'; } /* '' */
.icon-left-big:before { content: '\e85a'; } /* '' */
.icon-right-big:before { content: '\e85b'; } /* '' */
.icon-bookmark:before { content: '\e85c'; } /* '' */
.icon-export:before { content: '\e85d'; } /* '' */
.icon-plus-circled:before { content: '\e85e'; } /* '' */
.icon-cancel-circled2:before { content: '\e85f'; } /* '' */
.icon-cancel-circled:before { content: '\e860'; } /* '' */
.icon-ok-circled2:before { content: '\e861'; } /* '' */
.icon-ok-circled:before { content: '\e862'; } /* '' */
.icon-heart:before { content: '\e863'; } /* '' */
.icon-heart-empty:before { content: '\e864'; } /* '' */
.icon-minus-circled:before { content: '\e865'; } /* '' */
.icon-help-circled:before { content: '\e866'; } /* '' */
.icon-info-circled:before { content: '\e867'; } /* '' */
.icon-attach:before { content: '\e868'; } /* '' */
.icon-edit:before { content: '\e869'; } /* '' */
.icon-cloud:before { content: '\e86a'; } /* '' */
.icon-forward:before { content: '\e86b'; } /* '' */
.icon-lock-open:before { content: '\e86c'; } /* '' */
.icon-pin:before { content: '\e86d'; } /* '' */
.icon-spin6:before { content: '\e86e'; } /* '' */
.icon-spin5:before { content: '\e86f'; } /* '' */
.icon-spin1:before { content: '\e870'; } /* '' */
.icon-th-1:before { content: '\e871'; } /* '' */
.icon-grid:before { content: '\e872'; } /* '' */
.icon-th-outline:before { content: '\e873'; } /* '' */
.icon-th-2:before { content: '\e874'; } /* '' */
.icon-th-large-outline:before { content: '\e875'; } /* '' */
.icon-th-large-1:before { content: '\e876'; } /* '' */
.icon-th-large-2:before { content: '\e877'; } /* '' */
.icon-th-3:before { content: '\e878'; } /* '' */
.icon-th-large-3:before { content: '\e879'; } /* '' */
.icon-layout:before { content: '\e87a'; } /* '' */
.icon-up-big:before { content: '\e87b'; } /* '' */
.icon-down-big:before { content: '\e87c'; } /* '' */
.icon-shuffle:before { content: '\e87d'; } /* '' */
.icon-lock-1:before { content: '\e87e'; } /* '' */
.icon-lock-open-1:before { content: '\e87f'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-blank:before { content: '\f0c8'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-columns:before { content: '\f0db'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-meh:before { content: '\f11a'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-eraser:before { content: '\f12d'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-level-up:before { content: '\f148'; } /* '' */
.icon-level-down:before { content: '\f149'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-expand:before { content: '\f150'; } /* '' */
.icon-collapse:before { content: '\f151'; } /* '' */
.icon-expand-right:before { content: '\f152'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-right-circled2:before { content: '\f18e'; } /* '' */
.icon-left-circled2:before { content: '\f190'; } /* '' */
.icon-collapse-left:before { content: '\f191'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */
.icon-television:before { content: '\f26c'; } /* '' */
.icon-usb:before { content: '\f287'; } /* '' */
.icon-pause-circle:before { content: '\f28b'; } /* '' */
.icon-pause-circle-o:before { content: '\f28c'; } /* '' */
.icon-stop-circle:before { content: '\f28d'; } /* '' */
.icon-stop-circle-o:before { content: '\f28e'; } /* '' */
.icon-low-vision:before { content: '\f2a8'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-window-maximize:before { content: '\f2d0'; } /* '' */
.icon-window-minimize:before { content: '\f2d1'; } /* '' */
.icon-window-restore:before { content: '\f2d2'; } /* '' */
.icon-window-close:before { content: '\f2d3'; } /* '' */
.icon-window-close-o:before { content: '\f2d4'; } /* '' */